# Server
PORT=4000
NODE_ENV=development

# Auth - CHANGE THIS in production!
JWT_SECRET=change-me-to-a-long-random-string
JWT_EXPIRES_IN=30d

# CORS - frontend origin
CLIENT_ORIGIN=http://localhost:5173

# First admin account (created on first seed)
ADMIN_EMAIL=admin@justtally.local
ADMIN_PASSWORD=admin1234
ADMIN_NAME=Admin
